{{ define "edit" }}
{{ template "header" }}
    <p><a href="/"><button>Back</button></a></p>
    <form method="POST" action="update">
        <input type="hidden" name="id" value="{{ .ID }}" />
        <table>
            <tr>
                <td>Nama</td>
                <td>:</td>
                <td><input type="text" name="nama" value="{{ .Nama }}"/></td>
            </tr>
            <tr>
                <td>Email</td>
                <td>:</td>
                <td><input type="text" name="email" value="{{ .Email }}"/></td>
            </tr>
            <tr>
                <td>No Telp</td>
                <td>:</td>
                <td><input type="text" name="notlp" value="{{ .NoTlp }}"/></td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td>:</td>
                <td><input type="text" name="alamat" value="{{ .Alamat }}"/></td>
            </tr>
            <tr>
                <td></br></td>
            </tr>
            <tr>
                <td rowspan="3"><input type="submit" value="Update" /></td>
            </tr>
        </table>
    </form>
{{ template "footer" }}
{{ end }}